/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.text_center {
  text-align: center;
}
.has-child>.level-3
{
	margin-left:10px;
	
}
.has-child>ul>li:hover
{
	background-color:red;
}
#login_button{
	color:red;
}
#loginModel_Password{
	width:180px;
    padding: 10px 18px;
    margin: 8px 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#loginModel_Username{
	width:180px;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#wrapper{
	width:800px;
}