/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.text_center {
  text-align: center;
}
.has-child>.level-3
{
	margin-left:10px;
	
}
.has-child>ul>li:hover
{
	background-color:red;
}
#login_button{
	color:red;
}