@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TabPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<script src="/scripts/jquery-ui-1.12.0.min.js"></script>		
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Early Pre-School</a></li>
    <li><a href="#tabs-2">Pre-School</a></li>
    <li><a href="#tabs-3">Pre-Elementary</a></li>
	<li><a href="#tabs-4">Elementary</a></li>
  </ul>
  <div id="tabs-1">
	<h1 class="text_center">Early Montessori Preschool </ br>(Ages 12 months – 3 years)</h1>
 		 Early Montessori Preschool class is offering introductory Montessori lessons to prepare students for preschool while focusing on cooperative toilet training by parents and staff. This program explores all Montessori curricula areas with emphasis in the Practical Life area. Practical Life exercises at this age consists of practice of everyday activities including putting on shoes/coats, washing hands, putting works away and brushing teeth. Developmentally appropriate lessons in the other areas including language, math and grace/courtesy round out this program's curriculum. Teaching emphasis is placed on individual as well as group learning.
    </div>
  <div id="tabs-2">
	<h1 class="text_center">Traditional Montessori Preschool (3-6)</h1>
	Available to toilet trained students only.
	Traditional Montessori Preschool classes are offering a wide age range utilizing Montessori teaching methods and materials. Our Preschool experience offers exposure to all areas of the Montessori philosophy while incorporating some facets of more traditional teaching methods. Foreign language (Spanish) and enrichment program (Yoga, Dance & Movement, Drama classes) is incorporated into the curriculum. All areas are broken down into specific functions geared to the young child's intellectual and developmental levels. Lessons are presented with 2 or 3 dimensional materials allowing the child to see concepts clearly and move from concrete to more abstract ideas. Most lessons are self-correcting, letting the child experience error as part of the learning process.
  	<ul>
		<li>Practical Life</li>
		<li>Sensorial Experiences</li>
		<li>Language</li>
		<li>Mathematics</li>
		<li>History</li>
		<li>Botany </li>
		<li>Anatomy</li>
		<li>Geography/Culture </li>
		<li>Dance/Movement </li>
		<li>Art/Music</li>
	</ul>
  </div>
  <div id="tabs-3">
	<h1 class="text_center">Pre-Elementary (4.5 - 6)</h1>
		This program exposes children to a broader and deeper coverage of Montessori curricula areas, as listed above. There is a more frequent emphasis on group learning, in preparation for a larger group experience. More challenging individualized lessons in reading, math, and problem solving are also completed providing heightened learning. Foreign language (Spanish) and enrichment program (Yoga, Dance & Movement, Drama classes) are incorporated into the curriculum. Additionally, this program focuses on the Montessori tenet of "Grace and Courtesy," encouraging further development of the child's social skills and manners.
  <ul>
		<li>Practical Life</li>
		<li>Sensorial Experiences</li>
		<li>Language</li>
		<li>Mathematics</li>
		<li>History</li>
		<li>Botany/Zoology</li>
		<li>Anatomy</li>
		<li>Geography/Culture </li>
		<li>Dance/Movement </li>
		<li>Art/Drama/Music</li>
	</ul>
  </div>
	<div id="tabs-4">
		<h1 class="text_center">Lower-Elementary Program (6-9)</h1>
		Sunnybrook Montessori provides children individualized learning experiences, which aim to develop the whole person with an encouraging, stimulating program. The program is based on Montessori Philosophy and Method where students could gain knowledge and learn the skills they need to eventually become responsible, productive, independent and loving citizens of the world. Sunnybrook Montessori Lower-Elementary Program contains a core curriculum exploring.
		<br><b>Areas of Learning:</b>
		<ul>
			<li><a href="#">Advanced Practical Life</a></li>	
			<li><a href="#">Language Arts</a></li>	
			<li><a href="#">The Five Great Books</a></li>	
			<li><a href="#">Cosmic Education</a></li>	
			<li><a href="#">Math 1</a></li>	
			<li><a href="#">Math 2</a></li>	
			<li><a href="#">Geometry</a></li>	
			<li><a href="#">Matter and Astronomy</a></li>	
			<li><a href="#">Science Experiments</a></li>	
			<li><a href="#">Health Science</a></li>	
			<li><a href="#">Botany</a></li>	
			<li><a href="#">Zoology</a></li>	
			<li><a href="#">History</a></li>	
			<li><a href="#">Cultural Geography</a></li>	
			<li><a href="#">Physical Geography</a></li>	
			<li><a href="#">Physical Education</a></li>	
			<li><a href="#">Foreign Language</a></li>	
			<li><a href="#">Dance/Movement, Drama, Art and Music</a></li>	
		</ul>
			<h3>Advanced Practical Life:</h3>
			<p>
				In Montessori classroom these activities focus on developing real-life skills with ample of opportunities for students to learn from early age to control their own movements, care for themselves and others, and practice Grace and Courtesy. In this way, not only the students benefit by participating in Practical Life Activities, but also the classroom and the entire school community benefit from the student’s contribution. Practical life Activities in the elementary curriculum designed in an advanced form to give elementary students opportunities to develop and practice skills that can both benefit their work in other parts of the curriculum and that can be used throughout the life.
			</p>
			<h3>Language Arts:</h3>
			<p>
				The Montessori lower elementary language arts program builds on the knowledge that students gained in their early childhood years and deeply immerses them in the world of reading and writing. The program includes penmanship, reading, word study, the mechanism of writing, grammar (parts of speech), simple sentence analysis, spelling and vocabulary building, literary elements, creative writing and research skills.
				<i>Reading Assessment</i>, observations to determine the level of knowledge of phonetic sounds: to plan where to begin the child’s work.
			</p>
			<p>
			Introduction to <i>Phonograms</i>, letter-sound combinations: to prepare students not only for reading but for spelling as well.
			</p>
			<p>
				Introduction to <i>Junior Great Books</i> that combines rich & challenging literature with a full complement of reading & writing activities.
			</p>
			<p>
				<i>Word Study:</i> Words made of other words-Compound words (1 or more words combine to form a new word with a new meaning); Affix: prefixes/affixes (1 or more letters attached to a word or a root to change the meaning); Antonyms (words with opposite meaning), Synonyms (words with the same meaning).
			</p>
			<p>
				<i>The Mechanics of Writing:</i> Punctuation & Capitalization (lowercase/uppercase letters).
			</p>
			<p>
				<i>Grammar:</i> Study of rule of a language & how words combine to make a sentence.
			 </p>
			 <p>
			 	<i>Parts of the Speech:</i> Introduction to Noun (concrete/abstract, singular/plural); Articles (definite/indefinite); Adjective; Verbs (past & present tenses, linking verbs); Prepositions (a word showing the relationship between 2 words in the sentence); Adverbs (words to describe verbs, adjectives or other adverbs); Pronouns (personal, singular/plural); Conjunctions (words that join words or group of words).
			 </p>
			 <p>
				<i>Simple Sentence Analysis:</i> Simple/Compound Sentences (learn to understand how to break a sentence into smaller components, how individual parts of the sentence relate to one another, learning names for the different parts of the sentence: subject, predicate, direct & indirect object).	
			 </p>
			 <p>
				<i>Spelling Dictations:<i/> Learn writing words by dictations & memorizing word spelling.
	   		 </p>
			 <h3>The Five Great Books:</h3>
			 <p>
				The Five Great Lessons are a series of five stories that give the students the knowledge of the universe, the earth, and life on the earth, inventions of written language & numbers. Cosmic Education is designed to help students to develop awareness that everything in the universe is connected and independent and forms a harmonious whole, also that they themselves are part of and contribute to that whole. Cosmic Education in the elementary curriculum helps students to become more of an individual and more a part of the world. By supporting the relationships between the students within the classroom, & the relationships of the students with community, culture, & environment, cosmic education guides each student to become more of an individual & more part of the world. 
			 </p>
			<h3>Cosmic Education:</h3>
			<p>
				 The Five Great Lessons are a series of five stories that give the students the knowledge of the universe, the earth, and life on the earth. These stories form the heart of the Montessori Elementary program. If the Five Great Lessons are the heart of the program then Cosmic Education can be described as the soul. It is designed to help to develop awareness that everything in the universe is connected and independent and forms a harmonious whole, also that they themselves are part of and contribute to that whole. Cosmic Education in the elementary curriculum helps students to become more of an individual and more a part of the world.	
			</p>
			<h3>Mathematics:<h/3>	
			<p>
				Lower elementary Mathematics curriculum consists of two parts: Math 1 and Math 2.
			</p>
			<h3>Math 1<h/3>
			<p>
				Curriculum focuses on arithmetic. The first part of Math 1 curriculum includes Basic Operations that explores basic math facts for numbers 1 through 9. It is divided into 4 subsections:
			</p>
			<p>
				<i>*Addition:</i> introduction to main components of addition equation: <i>Addends</i>(numbers added together in an equation & <i>Sum</i> – the answer to an addition equation).
			</p>
	        <p>
				<i>*Subtraction:</i> introduction to 3 main components: <i>Minuend</i> (the number that is being subtracted from); <i>Subtrahend</i> (the number that is taken away from the minuend); <i>Difference</i> (the answer to a subtrahend equation).
				<i>*Multiplication:</i> introduction to the main components of multiplication equations:<i>Factors</i> (the numbers being multiplied together); <i>Product</i> (the answer to the multiplication equation.
				<i>*Division:</i> introduction to Division equation with 3 main components:<i> Dividend</i>(number that is being divided); <i>Divisor</i> (number by which the dividend is being divided).
				Second part of Math 1 curriculum also focuses on arithmetic, but the activities involve working with larger numbers & manipulating more abstract material:*Factors & Multiples * Multiplication & Division with the Golden Bead Material *Hierarchies of Numbers *Bead Frames *Long Division.
			</p>
			<p>
			Students work with arithmetic charts to learn the arithmetic facts & enhance their basic understanding of the operation. Along with charts many other materials are incorporated: *Addition Strip Board, *Number Tiles, *Snake Game”, *Bead Cabinet Material”, Golden Bead Material”…
			</p>
			<h3>Math 2:<h3>
			<p>
			Math 2 curriculum concentrates on fractions and geometry. *Understanding What Fractions are (concept of fractions, fractions from one whole to ten tenths); *Writing Fractions and finding Equivalences (Fraction Circles, concept of numerator and denominator, fraction symbols); *Adding and Subtracting fractions (adding and subtracting fractions with the same denominator and with the different denominator); *Multiplying and Dividing Fractions (multiply and divide fractions by whole numbers).
			</p>
			<h3>Geometry:</h3>
			<p>
			<ol>
			Geometry topics are organized to introduce
			<li>Basic Geometry concepts and Terms:*Points, Lines, Planes, and Solids, *Angles, *Open and Closed Figures. </li>
			<li>4 main groups of “closed plane figures”, *Circles and Other Closed Curved Figures *Triangles and Quadrilaterals *Polygons with Five or More Sides. </li>
			<li>Three-dimensional geometric shapes: *Geometric Solids. </li>
			</ol>
			</p>
			 </div>
</div>

	
@CurrentPage.GetGridHtml("content", "fanoe")