@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TabPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
	
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<script src="/scripts/jquery-ui-1.12.0.min.js"></script>	

	
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Early Pre-School</a></li>
    <li><a href="#tabs-2">Pre-School</a></li>
    <li><a href="#tabs-3">Pre-Elementary</a></li>
	<li><a href="#tabs-4">Summer Program</a></li>
	<li><a href="#tabs-5">Extended Care</a></li>
  </ul>
  <div id="tabs-1">
	<h1 class="text_center">Early Montessori Preschool </ br>(Ages 12 months – 3 years)</h1>
 		 Early Montessori Preschool class is offering introductory Montessori lessons to prepare students for preschool while focusing on cooperative toilet training by parents and staff. This program explores all Montessori curricula areas with emphasis in the Practical Life area. Practical Life exercises at this age consists of practice of everyday activities including putting on shoes/coats, washing hands, putting works away and brushing teeth. Developmentally appropriate lessons in the other areas including language, math and grace/courtesy round out this program's curriculum. Teaching emphasis is placed on individual as well as group learning.
    </div>
  <div id="tabs-2">
	<h1 class="text_center">Traditional Montessori Preschool (3-6)</h1>
	Available to toilet trained students only.
	Traditional Montessori Preschool classes are offering a wide age range utilizing Montessori teaching methods and materials. Our Preschool experience offers exposure to all areas of the Montessori philosophy while incorporating some facets of more traditional teaching methods. Foreign language (Spanish) and enrichment program (Yoga, Dance & Movement, Drama classes) is incorporated into the curriculum. All areas are broken down into specific functions geared to the young child's intellectual and developmental levels. Lessons are presented with 2 or 3 dimensional materials allowing the child to see concepts clearly and move from concrete to more abstract ideas. Most lessons are self-correcting, letting the child experience error as part of the learning process.
  	<ul>
		<li>Practical Life</li>
		<li>Sensorial Experiences</li>
		<li>Language</li>
		<li>Mathematics</li>
		<li>History</li>
		<li>Botany </li>
		<li>Anatomy</li>
		<li>Geography/Culture </li>
		<li>Dance/Movement </li>
		<li>Art/Music</li>
	</ul>
  </div>
  <div id="tabs-3">
	<h1 class="text_center">Pre-Elementary (4.5 - 6)</h1>
		This program exposes children to a broader and deeper coverage of Montessori curricula areas, as listed above. There is a more frequent emphasis on group learning, in preparation for a larger group experience. More challenging individualized lessons in reading, math, and problem solving are also completed providing heightened learning. Foreign language (Spanish) and enrichment program (Yoga, Dance & Movement, Drama classes) are incorporated into the curriculum. Additionally, this program focuses on the Montessori tenet of "Grace and Courtesy," encouraging further development of the child's social skills and manners.
  <ul>
		<li>Practical Life</li>
		<li>Sensorial Experiences</li>
		<li>Language</li>
		<li>Mathematics</li>
		<li>History</li>
		<li>Botany/Zoology</li>
		<li>Anatomy</li>
		<li>Geography/Culture </li>
		<li>Dance/Movement </li>
		<li>Art/Drama/Music</li>
	</ul>
  </div>
		<div id="tabs-4">
			<h1 class="text_center">Summer Sessions</h1>
			<p>
				Sunnybrook Montessori welcomes you to the Summer Sessions. Our Summer Sessions are organized into 2 week sessions, with exciting themes and special activity cams. In accordance with your family summer vacation schedule, you may elect to sign up for all sessions or just the ones you need.
				Sunnybrook Montessori offers the following options of Summer activities:
			</p>
			<ul>
				<li><span class="big_font"><b>ALL YEAR AROUND MONTESSORI CLASS</b></span></li>
				<li><span class="big_font"><b>THEME CAMP</b></span></li>
				<li><span class="big_font"><b>SPECIALTY CAMP</b></span></li>
				<li><span class="big_font"><b>EARLY PRESCHOOL SUMMER CAMP (ages 14months-3years)</b></span></li>
				<li><span class="big_font"><b>FIELD TRIPS & SPECIAL GUESTS</b></span></li>
			</ul>
			<small>(Summer placement may or may not concur with Fall placement, but every effort will be made to provide the best arrangement and consistency for every student.)</small>
			<p>Registration requirements include a record of childhood immunizations.</p>
			<p class="text_center">
				<strong>Sign up Today for a Summer of Fun!!!</strong></br>
				<strong><telephone>Call 425-392-4087</telephone></strong>
			</p>
			<p class="text_center"><small>"Cultivating growth through developmental enrichment and holistic education for a lifetime of learning."</small></p>
		</div>
		<div id="tabs-5">
			<h1 class="text_center">Extended Care</h1>
			<p>Sunnybrook Montessori offers Extended Childcare Program to meet the needs of working families. Students enrolled in the Extended Childcare Program arrive between <strong>7:00-8:45</strong> and leave <strong>between 3:00-6:00 each day.</strong> Our extended Childcare team offers quite games and activities each morning for arriving students. Students arrive at varying times, determined by the student’s family. At 8:45 teachers arrive to pick up the Extended Childcare students and escort them to their classrooms. School starts at 9:00.
After school dismissal at 3:00, Extended Childcare students are escorted to Extended Childcare classrooms where the Extended Childcare team greets them warmly with a welcome circle. In the afternoon, these students may participate in variety of activities including, arts and crafts, drama, music, and large group games as well as free play. Parents arrive to pick up children from the Extended Childcare Program when they so desire. The Extended Childcare Program closes at 6:00.
Extended Childcare students are also admitted for a week of childcare during the Spring Break week. Although our school program is closed, Extended Childcare students are able to attend the Extended Childcare Program each regularly scheduled day during Spring Break.</p>
		</div>
</div>
	
<script src="/scripts/jquery-ui-1.12.0.min.js"></script>	
<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
</script>